/* Fundo da navbar */
.navbar-shortcuts {
    background: #f5f7fb !important; /* igual ao da imagem */
    width: 100%;
    border-bottom: 1px solid #e3e8ef;
}

/* Estilo dos botões */
.shortcut-item {
    padding: 10px 25px;
    background: #10bfa5;
    color: #fff;
    font-weight: 600;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.15);
    transition: all .2s;
}

/* Hover */
.shortcut-item:hover {
    transform: translateY(-3px);
    box-shadow: 0px 4px 12px rgba(0,0,0,0.20);
}

/* Botão ativo em azul */
.shortcut-item.active {
    background:  #10bfa5;
}
